body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f0f0f;
    color: #f0f0f0;
    text-align: center;
  }
  
  header {
    background-color: #1e1e1e;
    padding: 40px 20px;
  }
  
  header h1 {
    font-size: 3em;
    margin: 0;
  }
  
  header p {
    font-size: 1.2em;
    color: #ccc;
  }
  
  .pricing {
    padding: 40px 20px;
    background-color: #181818;
  }

  .cards{
    animation: slideInRight 1s ease-out forwards;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cardi{
    animation: slideInRight 2s ease-out forwards;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .carda{
    animation: slideInRight 3s ease-out forwards;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .oni{
    background-image: url(assets/nice\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
  }

  .ona {
    background-image: url(assets/okniceboy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
  }

  .one{
    background-image: url(assets/ata.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
  }
  
  .pricing h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #252525;
    margin: 20px auto;
    padding: 20px;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid #333;
    width: 250px;
    height: 150px;
  }
  
  .card h3 {
    margin-top: 0;
    color: #ffd700;
  }
  
  .card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .contact {
    padding: 30px;
    background-color: #0f0f0f;
  }
  
  .contact a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  footer {
    background-color: #000;
    padding: 10px;
    font-size: 0.9em;
    color: #777;
  }

  
  .title{
    color: rgb(0, 211, 0);
  }

  @keyframes slideInRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  